<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nlu.admin_food_selling_app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Admin_food_selling_app"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.view.voucher.activity.AddNewVoucher"
            android:exported="false" />
        <activity
            android:name=".ui.view.voucher.activity.SearchVoucherResult"
            android:exported="false" />
        <activity
            android:name=".ui.view.voucher.activity.SearchVoucher"
            android:exported="false" />
        <activity
            android:name=".ui.view.voucher.activity.VoucherInformation"
            android:exported="false" />
        <activity
            android:name=".ui.view.sale.activity.SaleInformation"
            android:exported="false" />
        <activity
            android:name=".ui.view.sale.activity.SearchSaleResult"
            android:exported="false" />
        <activity
            android:name=".ui.view.sale.activity.SearchSale"
            android:exported="false" />
        <activity
            android:name=".ui.view.sale.activity.AddNewSale"
            android:exported="false" />
        <activity
            android:name=".ui.view.customer_information.activity.SearchCustomerResult"
            android:exported="false" />
        <activity
            android:name=".ui.view.customer_information.activity.SearchCustomer"
            android:exported="false" />
        <activity
            android:name=".ui.view.customer_information.activity.AddNewCustomerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.customer_information.activity.CustomerInformationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.order_details.activity.OrderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.order.activity.SearchResultActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.order.activity.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.order.activity.AddNewOrder"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".LostPasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
            android:name=".ui.view.food.activity.FilteredFood"
            android:exported="false"    />
        <activity
            android:name=".ui.view.food.activity.FoodAddActivity"
            android:exported="false"    />
        <activity
            android:name=".ui.view.food.activity.FoodByFoodIdActivity"
            android:exported="false"    />
        <activity
            android:name=".ui.view.food.activity.FoodRateActivity"
            android:exported="false"    />
        <activity
            android:name=".ui.view.food.activity.FoodSearchActivity"
            android:exported="false"    />
        <activity
            android:name=".ui.view.food.activity.FoodTypeAdd"
            android:exported="false"    />
        <activity
            android:name=".ui.view.food.activity.UpdateFoodActivity"
            android:exported="false"    />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>